<?xml version="1.0"?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find mobile_dual_arm_robot)/config/ros_controllers.yaml" command="load"/>
  <rosparam file="$(find mobile_dual_arm_robot)/config/other_controllers.yaml" command="load"/>

  <!-- Load the controllers -->
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false"
    output="screen" args="spawn joint_state_controller" />

  <node name="controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false"
    output="screen" args="spawn left_arm_controller right_arm_controller" />

  <node name="head_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false"
    output="screen" args="spawn head_controller" />

  <node name="other_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false"
    output="screen" args="spawn yao_controller leg1_controller leg2_controller " />
</launch>
